.container__login{
    height: 100vh;
    width: 100vw;
    background: url("../../images/login/login_lg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}